<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
             Operação Binária
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-content">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <mat-form-field class="mat-form">
                  <mat-label>Primeiro numero Binário</mat-label>
                  <input matInput placeholder="Ex. 11000010" type="text" name="numero1" id="numero1" required [(ngModel)]="binario.numero1">
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="mat-form">
                  <mat-label>Operador</mat-label>
                  <input matInput placeholder="Ex. + - * / %" type="text" name="operacao" id="operacao" required [(ngModel)]="binario.operacao">
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="mat-form">
                  <mat-label>Segundo numero Binário</mat-label>
                  <input matInput placeholder="Ex. 00110111" type="text" name="numero2" id="numero2" required [(ngModel)]="binario.numero2">
                </mat-form-field>
              </div>

              <div class="row">
                <button type="submit" (click)="calcular()" mat-raised-button color="primary">Calcular</button>
                <h3 *ngIf="resultado" style="margin-top: 20px;">Resultado: {{resultado}}</h3>
              </div>

            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rows="2" rowHeight="350px" class="teste">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
             Exemplo de Gráfico Estático
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
                </canvas>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Exemplo de Gráfico Estático
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
                </canvas>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Exemplo de Gráfico Estático
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
                </canvas>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
